body {
    font-family: 'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headerinfo {
    background-color: #b37703;
    color: #fff;
    display: flex;
    padding: 10px;
}

.header .headerinfo .email {
    width: 50%;
    text-align: left;
}

.header .headerinfo .phone {
    width: 50%;
    text-align: right;
}

.header .headermenu {
    display: flex;
    padding: 10px 30px;
}

.header .headermenu .logo {
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    width: 30%;
}


.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width: 50%;
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 10px;
}

.header .headermenu .navbarlist li a {
    color: #000;
    font-size: 20px;
}

.header .headermenu .booknowbtn {
    width: 20%;
    text-align: right;
}

.header .headermenu .booknowbtn button {
    background-color: #b37703;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
}

.slide .slideinfo {
    color: #fff;
    text-decoration: underline;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}

.slide {
    background-image: url('../images/slidebg1.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 30px;
}

.slide .booknowbtn {
    width: 20%;
    text-align: left;
}

.slide .booknowbtn button {
    background-color: #b37703;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

/* CSS for Services Section */

.services {
    text-align: center;
    padding: 50px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-decoration: underline;
  }
  
  .box1,
  .box2,
  .box3 {
    background-color: #b37703;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    color: #fff;
  }
  
  .readmore {
    margin-top: 20px;
  }
  
  button {
    background-color: #b37703;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #b37703;
  }
  