body {
    font-family: 'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headerinfo {
    background-color: #4ac7df;
    color: #000;
    display: flex;
    padding: 10px;
}

.header .headerinfo .email {
    width: 50%;
    text-align: left;
}

.header .headerinfo .phone {
    width: 50%;
    text-align: right;
}

.header .headermenu {
    display: flex;
    padding: 10px 30px;
}

.header .headermenu .logo {
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    width: 30%;
}


.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width: 50%;
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 10px;
}

.header .headermenu .navbarlist li a {
    color: #000;
    font-size: 20px;
}

.header .headermenu .booknowbtn {
    width: 20%;
    text-align: right;
}

.header .headermenu .booknowbtn button {
    background-color: #4ac7df;
    padding: 10px 20px;
    color: #000;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
}

.slide .slideinfo {
    color: #eaeaea;
    text-decoration: underline;
    text-align: left;
    font-size: 30px;
    text-transform: capitalize;
}

.slide {
    background-image: url('../images/slidebg1.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 30px;
}

.slide .booknowbtn {
    width: 20%;
    text-align: left;
}

.slide .booknowbtn button {
    background-color: #4ac7df;
    padding: 10px 20px;
    color: #000;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
}

.services {
    background-color: #4ac7df;
    padding: 20px;
    text-align: left;
    text-decoration: none;
  }
    
  .servicesinfo {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .servicesinfo img {
    margin-bottom: 10px;
  }
  
  
  .servicesinfo p {
    color:#000;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
  }
  
  .servicesinfo h3 {
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #000;
    background-color:white;
}

.box {
    flex: 1;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.categoriesinfo img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.categoriesinfo h4 {
    font-size: 18px;
    text-align: center;
}

.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #000;
    background-color: white;
}

.box {
    flex: 1;
    border: 3px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.shippinginfo img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.issues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.box {
    flex-basis: 30%;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
   }

  
.issuesinfo {
    text-align: center;
}
  
.issuesinfo img {
    width: 150px;
    height: 120px;
    flex: 1;
    object-fit: cover;
    margin-top: 10px;
}

.col_1_1 {
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid #c9f2ff;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100%-20px);
}
.col {
    width: 50%;
    padding: 20px;
    background-color: #c9f2ff;
    flex-flow: row wrap;
    text-align: left;
}

.col_1_1 .col div {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 10px 10px 10px 0px;
}

.col_1_1 .col div img {
    width: 20px;
    margin-right: 5px;
}

    .footer {
        background-color: #4ac7df;
        color: #000;
        display: flex;
        padding: 10px;
    }
    
    .footerinfo {
        flex: 1;
        padding: 10px;
        font-size: large;
    }