body {
    font-family:'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headerinfo {
    background-color: #b37703;
    color: #fff;
    display: flex;
    padding: 10px;
}

.header .headerinfo .email {
    width: 50%;
    text-align: left;
}

.header .headerinfo .phone {
    width: 50%;
    text-align: right;
}

.header .headermenu {
    display: flex;
    padding: 10px 30px;
}

.header .headermenu .logo {
    color: #000;
    text-transform: uppercase;
    font-size: 40px;
    width: 30%;
}


.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width: 50%;
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 10px;
}

.header .headermenu .navbarlist li a {
    color: #000;
    font-size: 20px;
}

.header .headermenu .booknowbtn {
    width: 20%;
    text-align: right;
}

.header .headermenu .booknowbtn button {
    background-color: #b37703;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
}